<html>
<head>
<meta charset="utf-8">
<title> balabala</title>
</head>
<body>
    <div style="width:30px;height:30px;" id="img">
    </div>
    <form enctype='multipart/form-data' method="post">
        <input id="bkid">
        <br><br><br>
        <input type="file" name='pic'>
        <br><br><br>
        <input type="submit">
    </form >
    <script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#bkid').blur(function() {
                var p=document.getElementById("img")
                p.innerHTML = "";
                var id=document.getElementById("bkid").value
                var img="../static/picture/i"+id+".jpg"
                var i = document.createElement("img");
                i.src=img
                p.appendChild(i)
            });
        });
    </script>
</body>
</html>

