{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>从未想过如此之好</title>
<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<!-- 
<div class="drip" id="{{a.id}}" style="position:absolute;top:0px;left:22%;">
    <a class="content" href="#">
        <div class="picture">
            <img src="{{a.picture}}" style="transform-origin:105px 215px 0px;">
        </div>
        <div class="title">
            <span>{{a.title}}</span>
        </div>
        <div class="brief">
            <span>{{a.brief}}</span>
        </div>
    </a>
</div> -->

</body>
<script src="../static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
num=Math.floor(document.body.clientWidth*0.77/220)
for(var n=1;n<=num;n++)
{
    var list=new Array();
    list[n]=0;
}
$.ajax({
    async: false,
    url:"/index_waterfall",
    success:function(result){
        var i=result.length+1;
        var i_oppose=0;
        for(i;i>1;i--){  
            i_oppose++;
           var a=document.createElement("div");
           a.className="drip";
           a.id="drip"+i;
           document.body.appendChild(a);
           var b=document.createElement("a");
           b.className="content";
           b.id="content"+i;
           b.href="#";
           document.getElementById("drip"+i).appendChild(b);
           var c=document.createElement("div");
           c.className="picture";
           c.id="picture"+i;
           document.getElementById("content"+i).appendChild(c);
           var d=document.createElement("img");
           d.src=result['picture['+i+']'];
           document.getElementById("picture"+i).appendChild(d);
           var e=document.createElement("div");
           e.className="title";
           e.id="title"+i;
           document.getElementById("content"+i).appendChild(e);
           var f=document.createElement("span");
           var g=document.createTextNode(result['title['+i+']']);
           f.appendChild(g);
           document.getElementById("title"+i).appendChild(f);
           var h=document.createElement("div");
           h.className="brief";
           h.id="brief"+i;
           document.getElementById("content"+i).appendChild(h);
           var j=document.createElement("span");
           var k=document.createTextNode(result['brief['+i+']']);
           j.appendChild(k);
           document.getElementById("brief"+i).appendChild(j);
    }
}
});
</script>
<!-- <script type="text/javascript">
var l=document.getElementsByClassName("drip").length
var list1=0
var list2=0
var list3=0
for(var i=l+1;i>1;i--)
{
    if(list1<=list2||list1<=list3)
    {
        document.getElementById(i).style.left="22%";
        document.getElementById(i).style.top=list1+'px';
        list1=list1+document.getElementById(i).offsetHeight+20;
        console.log(list1)
    }
    else if (list2<=list3)
    {
        document.getElementById(i).style.left="48%";
        document.getElementById(i).style.top=list2+'px';
        list2=list2+document.getElementById(i).offsetHeight+20;
        console.log(list2)
    }
    else
    {
        document.getElementById(i).style.left="74%";
        document.getElementById(i).style.top=list3+'px';
        list3=list3+document.getElementById(i).offsetHeight+20;
        console.log(list3)
    }
}

</script> -->
</html>
