{% load staticfiles %}

<!DOCTYPE HTML>
<html>

<head>
    <title>从未想过如此之好</title>
    <link rel="stylesheet" href="{% static "css/style-phone.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/htmleaf-demo.css" %}">
    <link rel="stylesheet" href="{% static "css/style1.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
</head>

<body>
    <img id="background" src="../static/picture/phone_background.jpg">
    <div class="wrapper">
        <div class="cols" style="width:80%;margin-left: 10%;">
                <div id="fan0" class="col" ontouchstart="this.classList.toggle('hover');">
                        <div class="container">
                            <div class="front" style="background-image: url({% static "img/2.jpg" %})">
                                <div class="inner">
                                    <p></p>
                                    <span></span>
                                </div>
                            </div>
                            <div class="back">
                                <div class="inner">
                                    <p>从未想过如此之好</p>
                                </div>
                            </div>
                        </div>
                    </div>
            <div id="fan1" class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image:url({% static "img/5.jpg" %})">
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>仰望宇宙</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fan2" class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url({% static "img/3.jpg" %})">
                        <div class="inner">
                            <p></p>
                            <span></span>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>反思，然后变得更聪明</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="tdiv">
{% for i in all_blogs %}
<a href = "../post/{{i.id}}" class="t">
 {{i.id}}. {{i.title}}</a>
   <!-- <div style="float:right;margin-top:-5em"><span style="color:green;float: right;font: normal 2.6em arial, sans-serif;margin-left:0.3em">{{i.zan}}</span><img src="../static/img/baizan.png" style="width:20%;float: right;"></div> -->
<br>
{% endfor %}
</div>
</body>

<script src="https://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>

</html>